section {
  width: 100vw;
  height: 50%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

h1 {
  color: #007acc;
  text-align: center;
  cursor: pointer;
}

h1 img {
  width: 6rem;
  height: 3rem;
}

p {
  text-align: center;
  font-size: large;
  color: #007acc;
  font-weight: bold;
}


