---
import astroLogo from '../assets/astro.svg';

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Primer Sitio en Astro</title>
    <link rel="stylesheet" href="Odran.css"/>
    <script src="odran.js" defer></script>
</head>
<section>
    <h1>¡Hola, <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></h1>
    <p>Este es mi primer sitio web usando Astro!.</p>
  </section>
</html>
